<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Adiga Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="well well-sm">
	<CENTER>
	<h3><b>{{Action}} Tenant</b></h3>
	</CENTER>
		<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
		{% for forms in form %}
		<div class="form-group">
	  		<label class="control-label col-sm-2" for="task_name">{{ forms.label }} : </label>
	  		<div class="col-sm-8">
	  			{{ forms }}
	  		{% if forms.errors %}
	  		<div class="alert alert-danger">{{ forms.errors }}</div>
	  		{% endif %}
	  		</div>
	  	</div>
	  	{% endfor %}
	  	<div class="form-group">        
	      <div class="col-sm-offset-5 col-sm-7">
	        <button type="submit" class="btn btn-success">Submit</button>
	        <a href="/" class="btn btn-default">Cancel/Back</a>
	      </div>
	   </div>
	   </form>
	</div>
</div>
</body>
</html>